<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    首页
    <br>
    <%= name %> 
    <br>
    姓名 <%= user.name %> 
    <br>
    年龄 <%= user.age %> 
</body>
</html>